.badges {
  text-align: center;
  min-height: 400px;
  position: relative;
}

.badges div {
  position: absolute;
  left: 50%;
  top: 50%;
}

.badges div:before,
.badges div:after {
  display: block;
  content: '';
  position: absolute;
}

#dziabadziaba {
  background-color: #3aaed1;
}

#dziabadziaba div {
  width: 200px;
  height: 200px;
  margin-left: -125px;
  margin-top: -140px;
  background-color: #dadada;
  border-radius: 50%;
}

#dziabadziaba div:before {
  width: 175px;
  height: 175px;
  margin-top: 12px;
  margin-left: 12px;
  background-color: #00116c;
  background-image: linear-gradient(to bottom, transparent 40%, #fff 40%, #fff 43%, #c4001c 44%, #c4001c 60%, #fff 60%, #fff 63%, transparent 60%), linear-gradient(to right, transparent 38%, #fff 38%, #fff 41%, #c4001c 42%, #c4001c 50%, #fff 50%, #fff 62%, transparent 62%), linear-gradient(216deg, transparent 45%, #fff 45%, #fff 50%, #c4001c 47%, #c4001c 53%, #fff 50%, #fff 55%, transparent 55%), linear-gradient(144deg, transparent 44%, #fff 44%, #fff 49%, #c4001c 45%, #c4001c 52%, #fff 52%, #fff 54%, transparent 54%);
  border-radius: 50%;
}

#dziabadziaba div:after {
  width: 88px;
  height: 175px;
  margin-top: 12px;
  margin-left: 84px;
  border-left: solid #c4001c 16px;
  border-radius: 25px 175px 175px 25px;
  background: linear-gradient(to right, #ae001d 0%, #ae001d 17%, transparent 17%, transparent 50%), linear-gradient(to bottom, transparent 40%, #fff 40%, #fff 43%, #ae001d 44%, #ae001d 60%, #fff 60%, #fff 63%, transparent 60%);
}

#outlaw {
  background-color: #369687;
}

#outlaw div {
  width: 175px;
  height: 175px;
  margin-left: -125px;
  margin-top: -140px;
  border-radius: 50%;
  border: solid #151123 12px;
  background-image: radial-gradient(circle at 119px 58px, #fff 7px, rgba(255,255,255,0) 7px), radial-gradient(circle at 118px 52px, #fff 5px, rgba(255,255,255,0) 5px), radial-gradient(circle at 107px 55px, #fff 10px, rgba(255,255,255,0) 10px), radial-gradient(circle at 89px 51px, #fff 15px, rgba(255,255,255,0) 15px), radial-gradient(circle at 71px 49px, #fff 16px, rgba(255,255,255,0) 16px), radial-gradient(circle at 55px 61px, #fff 6px, rgba(255,255,255,0) 6px), linear-gradient(to right, #464251 50%, #42404e 50%, #42404e 100%);
}

#outlaw div:before {
  margin-top: 81px;
  margin-left: 114px;
  width: 22px;
  height: 38px;
  border-top-right-radius: 13px 13px;
  border-bottom-right-radius: 13px 13px;
  border-top-left-radius: 13px 13px;
  border-bottom-left-radius: 13px 13px;
  background-image: radial-gradient(ellipse farthest-corner at 10px 20px, #42404e 0px, #42404e 7px, #fff 7px);
}

#outlaw div:after {
  width: 60px;
  height: 71px;
  margin-top: 69px;
  margin-left: 54px;
  background-color: #f6c34e;
  border: solid #fff 3px;
  border-top-left-radius: 6px 73px;
  border-top-right-radius: 6px 73px;
  border-bottom-left-radius: 42px 14px;
  border-bottom-right-radius: 42px 14px;
  background-image:
    radial-gradient(circle at 46px 56px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 46px 52px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 46px 48px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 46px 44px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 46px 40px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 46px 36px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 46px 32px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 46px 28px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 46px 24px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 46px 20px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 46px 16px, #f1de82 2px, rgba(241, 222, 130,0) 5px),

    radial-gradient(circle at 31px 56px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 31px 52px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 31px 48px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 31px 44px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 31px 40px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 31px 36px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 31px 32px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 31px 28px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 31px 24px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 31px 20px, #f1de82 2px, rgba(241, 222, 130,0) 5px),

    radial-gradient(circle at 16px 56px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 16px 52px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 16px 48px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 16px 44px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 16px 40px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 16px 36px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 16px 32px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 16px 28px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 16px 24px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 16px 20px, #f1de82 2px, rgba(241, 222, 130,0) 5px),
    radial-gradient(circle at 16px 16px, #f1de82 2px, rgba(241, 222, 130,0) 5px, #f6c34e 6px, #f6c34e 100%);
}

#penguin div {
  width: 175px;
  height: 175px;
  margin-left: -125px;
  margin-top: -140px;
  border-radius: 50%;
  border: solid black 12px;
}

#penguin div:before {
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 87px;
  box-shadow:
    16px 20px 0 25px white,
    35px 0 0 0 black,
    17px -2px 0 55px black,
    17px -2px 0 85px #B16451,
    18px 0 0 53px black;
}

#penguin div:after {
  left: 50%;
  top: 56.5%;
  margin-left: -20px;
  width: 0;
  height: 0;
  border-right: 20px solid white;
  border-top: 20px solid orange;
  border-left: 20px solid white;
  border-bottom: 20px solid white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow:
    -20px -30px 0 -16px black,
    20px -30px 0 -16px black,
    -23.5px -36px 0 2px white,
    24px -36px 0 2px white,
    0 -70px 0 -3px black,
    0 -61px 0 7px black,
    -13px -61px 0 5px black,
    13px -61px 0 5px black,
    0px -26px 0 26px white;
}

#butterbeer {
  background-color: #88ad2c;
}

#butterbeer div {
  width: 175px;
  height: 175px;
  margin-left: -125px;
  margin-top: -140px;
  border-radius: 50%;
  border: solid #911420 12px;
  background-color: #f3e2c3;
  background-image:
    linear-gradient(to bottom, transparent 0px, rgba(1,1,1,0) 128px, #f3e2c3 128px, #f3e2c3 100%),
    radial-gradient(circle at 87.23px 134px, #f3e2c3 11px, transparent 11px),
    radial-gradient(circle at 87px 129px, #000 12px, transparent 12px),
    radial-gradient(circle at 87.23px 134px, rgb(243, 226, 195) 11px, transparent 11px),
    linear-gradient(123deg, transparent 0px, rgba(243, 226, 195, 0) 203px, #000 203px, #000 207px, #f3e3c3 207px),
    linear-gradient(60deg, #f3e2c3 0px, rgba(243, 226, 195, 1) 33px, #000 33px, #000 38px, transparent 38px),
    linear-gradient(to bottom, transparent 0px, transparent 122px, #000 122px, #000 128px, transparent 128px),
    linear-gradient(55deg, transparent 0px, transparent 187px, #000 187px),
    linear-gradient(77deg, transparent 0px, transparent 177px, #f3e2c3 177px),
    linear-gradient(41deg, transparent 0px, transparent 160px, #000 160px),
    linear-gradient(82deg, transparent 0px, transparent 148px, #f3e2c3 148px),
    linear-gradient(51deg, transparent 0px, transparent 153px, #000 153px),
    radial-gradient(circle at 170px 96px, #f3e2c3 68px, transparent 11px),
    radial-gradient(circle at 191px 19px, #000 114px, transparent 11px),
    linear-gradient(-31deg, transparent 0px, transparent 170px, #000 170px);
}

#butterbeer div:before {
  width: 50px;
  height: 50px;
  margin-top: 95px;
  margin-left: 20px;
  border: solid #000 5px;
  border-radius: 50%;
  background-image: radial-gradient(circle at 25px 27px, #000 3px, rgba(0, 0, 0,1) 3px, #3d7200 3px, #3d7200 7px, #d0d2cd 8px);
}

#butterbeer div:after {
  width: 50px;
  height: 50px;
  margin-top: 95px;
  margin-left: 95px;
  border: solid #000 5px;
  border-radius: 50%;
  background-image: radial-gradient(circle at 25px 27px, #000 3px, rgba(0, 0, 0,1) 3px, #3d7200 3px, #3d7200 7px, #d0d2cd 8px);
}

#pieroger {
  background-color: black;
}

#pieroger div {
  width: 175px;
  height: 175px;
  margin-left: -125px;
  margin-top: -140px;
  border-radius: 50%;
  border: solid #FAD78B 12px;
  background-color: #7A513A;
}

#pieroger div:before {
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(0deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(-45deg);
  width: 0px;
  height: 0px;
  left: 50%;
  top: 40%;
  margin-left: -40px;
  border-top: 40px solid #FAD78B;
  border-left: 40px solid #7A513A;
  border-right: 40px solid #FAD78B;
  border-bottom: 40px solid #7A513A;
  background-color: #FAD78B;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 
    -24px -35px 0 -33px #FAD78B, 
    -9px -40px 0 -33px #FAD78B, 
    7px -40px 0 -33px #FAD78B, 
    23px -35px 0 -33px #FAD78B,
    35px -24px 0 -33px #FAD78B, 
    40px -8px 0 -33px #FAD78B, 
    40px 8px 0 -33px #FAD78B, 
    34px 23px 0 -33px #FAD78B,
    -24px -35px 0 -30px white, 
    -9px -40px 0 -30px white, 
    7px -40px 0 -30px white, 
    23px -35px 0 -30px white,
    35px -24px 0 -30px white, 
    40px -8px 0 -30px white, 
    40px 8px 0 -30px white, 
    34px 23px 0 -30px white;
}

#pieroger div:after {
  width: 85px;
  height: 175px;
  left: 50%;
  margin-left: -43px;
  background-image: 
    linear-gradient(to bottom, transparent 62%, #fff 62%, #fff 64%, transparent 64%),
    
    radial-gradient(circle at 44px 100px, white 2px, transparent 1px),
    radial-gradient(circle at 44px 98px, white 2px, transparent 1px),
    radial-gradient(circle at 44px 96px, white 2px, transparent 1px),
    radial-gradient(circle at 44px 94px, white 2px, transparent 1px),
    radial-gradient(circle at 44px 92px, white 2px, transparent 1px),
    radial-gradient(circle at 44px 90px, white 2px, transparent 1px),
    radial-gradient(circle at 44px 88px, white 2px, transparent 1px),
    radial-gradient(circle at 44px 86px, white 2px, transparent 1px),
    radial-gradient(circle at 44px 84px, white 2px, transparent 1px),
    radial-gradient(circle at 44px 82px, white 2px, transparent 1px),

    radial-gradient(circle at 36px 102px, white 2px, transparent 1px),
    radial-gradient(circle at 34px 100px, white 2px, transparent 1px),
    radial-gradient(circle at 32px 98px, white 2px, transparent 1px),
    radial-gradient(circle at 30px 96px, white 2px, transparent 1px),
    radial-gradient(circle at 28px 94px, white 2px, transparent 1px),
    radial-gradient(circle at 26px 92px, white 2px, transparent 1px),
    radial-gradient(circle at 24px 90px, white 2px, transparent 1px),
 
    radial-gradient(circle at 51px 102px, white 2px, transparent 1px),
    radial-gradient(circle at 53px 100px, white 2px, transparent 1px),
    radial-gradient(circle at 55px 98px, white 2px, transparent 1px),
    radial-gradient(circle at 57px 96px, white 2px, transparent 1px),
    radial-gradient(circle at 59px 94px, white 2px, transparent 1px),
    radial-gradient(circle at 61px 92px, white 2px, transparent 1px),
    radial-gradient(circle at 63px 90px, white 2px, transparent 1px);
}